@model IEnumerable<Makale.Entities.Kullanici>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Kullanıcılar</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <a href="/Kullanici/Create" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Yeni
        </a>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KullaniciAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sifre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfilResmi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Admin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aktif)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KullaniciAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sifre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfilResmi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Admin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aktif)
                    </td>
                    <td>
                        <a href="/Kullanici/Edit/@item.Id" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>
                            Düzenle
                        </a>
                        <a href="/Kullanici/Details/@item.Id" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-search"></span>
                            Detay
                        </a>
                        <a href="/Kullanici/Delete/@item.Id" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                            Sil
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

